/* Allgemeine Styles */
body {
    background-color: #f7f7f7;
    color: #393937;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

p {
    color: #393937;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 10px;
    padding: 0;
}

h1 {
    color: #393937;
    text-align: center;
    font-family: 'Modak', sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: 130px; /* 130% */
    margin-top: 20px;
}

h2 {
    color: #393937;
    text-align: center;
    font-family: 'Modak', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 100% */
}

/* Song Carousel */
.carousel-container {
    position: relative;
    width: 100%;
    max-width: 1222px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 20px;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.carousel-item {
    display: flex;
    width: 350px;
    height: 350px;
    padding: 44px 44px;
    margin: 10px;
    justify-content: stretch;
    align-items: stretch;
    align-content: center;
    gap: 35px;
    flex-shrink: 10;
    flex-wrap: wrap;
    font-size: 30px;
    background: rgba(219, 206, 255, 0.75);
    border-radius: 100px;
    border: 1px solid #393937;
    transition: transform 0.3s;
}

.carousel-item:hover {
    transform: scale(1.05);
}

/* Custom Arrow Styling */
.carousel-arrow {
    background-image: url('/images/arrow_left.svg'); /* Beispiel fÃ¼r links */
    width: 50px;
    height: 50px;
    background-size: cover;
    cursor: pointer;
    border: none;
}

.carousel-arrow.right {
    background-image: url('/images/arrow_right.svg'); /* Beispiel fÃ¼r rechts */
}

.carousel-arrow:hover {
    transform: scale(1.0); /* VergrÃ¶ÃŸerung bei Hover */
}

/* Listen Button */
.listen-button {
    display: flex;
    width: 188px;
    height: 65px;
    padding: 10px 64px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    flex-shrink: 0;
    flex-wrap: wrap;
    border-radius: 100px;
    border: 1px solid #393937;
    background: #987CEC;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: normal;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.listen-button:hover {
    background: linear-gradient(90deg, #B1FF58 0%, #987CECB2 70%);
}

/* Container fÃ¼r Song Delivery Box und Kreis */
.delivery-with-circle {
    display: flex;
    justify-content: center; /* Zentriert den gesamten Inhalt */
    align-items: center;
    gap: 20px; /* Abstand zwischen Kreis und Box */
}

/* Kreis und Text */
.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 360px; /* Neue Breite fÃ¼r den Kreis */
    height: 360px; /* Neue HÃ¶he fÃ¼r den Kreis */
    position: relative;
    animation: swing 3s ease-in-out infinite; /* Animation fÃ¼r das Schaukeln */
}

/* Der Kreis */
.circle-container svg {
    width: 100%;
    height: 100%;
}

/* Der Text auf dem Kreis */
.circle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-30deg);
    color: #393937;
    text-align: center;
    font-family: 'Modak', sans-serif;
    font-size: 25px; /* Kleinere SchriftgrÃ¶ÃŸe fÃ¼r den Text im kleineren Kreis */
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}


/* Schaukel-Animation */
@keyframes swing {
    0% {
        transform: translate(-50%, -50%) rotate(-30deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(-20deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-30deg);
    }
}

/* Song Delivery Container */
.song-delivery-container {
    display: flex; /* Flexbox */
    justify-content: center; /* Zentriert horizontal */
    align-items: center; /* Zentriert vertikal */
    align-self: center; /* Zentriert innerhalb des Ã¼bergeordneten Containers */
    width: 500px;
    height: 300px;
    border-radius: 100px;
    background-color:  #987CEC; /* Hintergrundfarbe Blau */
    margin: 99px auto; /* Automatische Zentrierung horizontal */
    max-width: 100%;
    color: #393937; /* Textfarbe fÃ¼r die Schrift */
    text-align: center;
    font-family: 'Poppins', sans-serif; /* Gleiche Schrift wie fÃ¼r das "body"-Element */
    font-size: 20px; /* StandardschriftgrÃ¶ÃŸe fÃ¼r Body-Text */
    font-weight: 400; /* Normales Schriftgewicht */
    border: 1px solid rgba(57, 57, 55, 1);
    padding: 50px; /* Angepasstes Padding */
}


/* Song Box Container */
.song-box-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.song-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 130px;
    background: linear-gradient(90deg, #B1FF58 0%, #987CECB2 70%);
    border: 1px solid #393937;
    border-radius: 150px;
    font-size: 20px;
    font-weight: 400;
    color: #393937;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.song-box:hover {
    transform: scale(1.0);
    background: #B1FF58;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

/* Hintergrundbild bis zum Delivery Container */
.main-content {
    position: relative; /* Um das Pseudo-Element zu positionieren */
    background-color: rgba(255, 255, 255, 0.06); /* WeiÃŸ mit 70% Transparenz als Hintergrund */
    padding: 10px; /* 10px Abstand zum Rand */
    margin-bottom: 0; /* Kein Abstand unten */
}

.main-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('Images/image1.jpg'); /* Bildpfad zum Ordner Images */
    background-size: calc(100% - 20px) auto; /* Das Bild fÃ¼llt den Bereich abzÃ¼glich des 10px Abstands */
    background-position: top center; /* Bild beginnt oben */
    background-repeat: no-repeat;
    opacity: 0.7; /* 70% Transparenz */
    z-index: -1; /* Hinter den Inhalt stellen */
}

.illustration {
    display: flex;
    position: center;
    justify-content: right;
    align-items: right;
    width: 280px;
    height: 475px;
}

.image2 {
    border: 1px solid #393937; /* Gleicher Rahmen wie beim Bild 1 */
    border-radius: 20px; /* Abgerundete Ecken */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Leichter Schatten */
    margin: 20px auto;
    display: block;
}

/* Tile-Effekt für image2 */
.image2 {
    width: 100%; /* Breite des Containers */
    height: 400px; /* Festgelegte Höhe */
    background-image: url('Images/image2.jpg'); /* Verweis auf das Bild */
    background-repeat: repeat; /* Wiederhole das Bild */
    background-size: 50% 100%; /* Tile-Effekt: Breite auf 50%, Höhe auf 100% */
    object-fit: cover; /* Bild so positionieren, dass es sich schön im Container anpasst */
}

@media (max-width: 991px) {
    .main-content {
      padding: 20px;
    }
  
    h1 {
      font-size: 40px;
      line-height: 58px;
    }
  
    h2 {
      font-size: 40px;
      line-height: 50px;
    }
  
    .carousel-item {
      min-width: 200px;
    }
  
    .song-box-container {
      flex-direction: column;
      gap: 10px;
    }
  
    .song-box {
      width: 100%;
      max-width: 100%;
    }
  
    .song-delivery-container {
      max-width: 100%;
      margin-top: 40px;
      padding: 100px 20px;
    }
  
    .carousel-arrow {
      width: 40px;
      height: 40px;
    }

    .logo-circle {
        width: 120px; /* Reduziere die Logo-Größe auf großen Bildschirmen */
        height: 120px;
    }

    .logo-image {
        width: 90px;
        height: 120px;
    }
}
/* Footer Styles */
.footer {
    background-color: #f7f7f7; /* Hellgrau wie der Haupt-Hintergrund */
    display: flex;
    flex-wrap: wrap;
    gap: 40px 100px;
    overflow: hidden;
    padding: 26px 80px 26px 22px;
}

@media (max-width: 991px) {
    .footer {
        padding: 0 20px;
    }
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Richtet das Logo und den Text rechtsbündig aus */
}

.logo-image {
    width: 155px;
    height: 155px;
    object-fit: contain;
    margin-top: 20px;
}



.footer-links {
    align-self: start;
    display: flex;
    margin-top: 10px;
    gap: 40px 100px;
    flex-wrap: wrap;
}

@media (max-width: 991px) {
    .footer-links {
        max-width: 100%;
    }
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-heading {
    color: #393937;
    font: 400 30px Modak, sans-serif;
}

.footer-list {
    color: #000;
    margin-top: 14px;
    font: 300 20px/40px Poppins, sans-serif;
    list-style-type: none;
    padding: 0;
}

.footer-list a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-list a:hover {
    color: #987CEC;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}