/* Allgemeine Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: #f7f7f7;
    color: #393937;
}

header {
    background-color: #f7f7f7;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    height: 40px;
    margin-left: 5px;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #393937;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #987CEC;
}


h1 {
    color: #393937;
    text-align: center;
    font-family: 'Modak', cursive;
    font-weight: normal;
    font-size: 60px;
    margin-top: 30px;
}

h2 {
    color: #393937;
    text-align: center;
    font-family: 'Modak', cursive;
    font-weight: normal;
    font-size: 60px;
    margin: 20px 0;
    margin-top: 20px;
    font-weight: normal;
}

/* Responsives Verhalten für Tablets (max. Breite 768px) */
@media (max-width: 768px) {
    h1 {
        font-size: 45px; /* Etwas kleinere Schriftgröße für Tablets */
    }

    h2 {
        font-size: 30px;
    }
}

/* Responsives Verhalten für Smartphones (max. Breite 480px) */
@media (max-width: 480px) {
    h1 {
        font-size: 35px; /* Noch kleinere Schriftgröße für Smartphones */
    }

    h2 {
        font-size: 25px;
    }
}


p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

main {
    text-align: center;
}

/* Pfeile für das Karussell */
.carousel-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-arrow:hover {
    background-color: #705ca7;
}

/* Karussell bleibt wie bisher */
.carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 10px;
    width: 100%;
    padding: 20px 50px; /* Platz für die Pfeile schaffen */
}

.carousel .song-box {
    flex: 0 0 50%;
    scroll-snap-align: start;
    border-radius: 100px;
    border: 1px solid #393937;
    background: rgba(219, 206, 255, 0.75);
    padding: 40px;
    margin: 10px;
    text-align: center;
}

.carousel .song-box:hover {
    background-color: #987CEC;
}

/* Scrollbar für Webkit-Browser (Chrome, Safari) */
.carousel::-webkit-scrollbar {
    width: 8px; /* Breite der Scrollbar */
    height: 8px; /* Höhe der Scrollbar */
}


/* Scrollbar-Griff (Thumb) */
.carousel::-webkit-scrollbar-thumb {
    background-color: #B1FF58; /* Neongrün */
    border-radius: 10px; /* Abgerundete Ecken für den Scrollbalken */
    border: 1px solid #393937;

}

/* Hover-Effekt für den Scrollbalken */
.carousel::-webkit-scrollbar-thumb:hover {
    background-color: #987CEC; /* Etwas dunkleres Grün bei Hover */
}

.after-carousel-section {
    margin-top: 200px;
    text-align: center;
}

.logo-and-circle {
    position: relative;
    display: flex;
    justify-content: center; /* Zentriert die Bilder horizontal */
    align-items: center;
    margin-top: 20px;
    margin-bottom: 100px; /* 100px Abstand unter den Bildern */
}


.footer-logo {
    z-index: 1;
    height: 300px;
}

.circle-image {
    z-index: 2;
    height: 250px;
    top: 20px; /* Anpassung für Überlappung */
    left: 100px; /* Positionierung des Kreises */
    animation: rotateCircle 10s linear infinite; /* Animation hinzufügen */
}

/* Keyframes für die Drehung */
@keyframes rotateCircle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}


/* Top Hits und Artists Boxen */
#weekly-hits, #weekly-artists, #today-hits {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;
    margin: 20px auto; /* Zentriert den Container */
    width: 70%; /* Reduziert die Breite auf 80% des Bildschirms */
    max-width: 1200px; /* Setzt ein maximales Limit für sehr große Bildschirme */
}

/* Box Styling für jeden Abschnitt */
.section-container {
    margin-bottom: 40px;
}

.section-title {
    font-family: 'Modak', cursive;
    font-size: 50px;
    color: #393937;
    margin-bottom: 20px;
}

.song-box {
    background: linear-gradient(135deg, #987CEC, #B1FF58);
    border-radius: 200px;
    border: 1px solid #393937;
    padding: 30px;
    width: 80%;
    text-align: center;
}

.song-box:hover {
    background: #B1FF58;
}

.song-box h2 {
    font-family: 'Modak', cursive;
    font-size: 40px;
    margin-bottom: 4px;
}

.song-box p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #393937;
}


/* Footer styling */
footer {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: #f7f7f7;
}

.footer-left img {
    height: 150px; /* Höhe etwas kleiner gemacht */
    object-fit: cover;
    margin-left: 5px;
    margin-right: 10px;
    padding: 0;
    display: block;
}

.footer-right {
    display: flex;
    gap: 50px;
}

.footer-column h2 {
    font-family: 'Modak', cursive;
    font-size: 18px;
    color: #393937;
}

.footer-column a {
    display: block;
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #393937;
}

.footer-column a:hover {
    color: #987CEC;
}

/* Hintergrundbild */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    background-image: url('Images/Image1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.6;
    z-index: -2;
}

.footer-image {
    width: 100vw; /* Nimmt 80% der Viewport-Breite ein */
    height: 400px; /* Höhe etwas kleiner gemacht */
    object-fit: cover;
    background: rgba(219, 206, 255, 0.75);
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    display: block;
}

/* Styling für die About-Seite */
.about-section {
    padding: 0px 0;
}

.about-text {
    max-width: 800px;
    margin: 40px auto; /* Nur eine margin-Eigenschaft */
    background-color: #DBCEFF;
    padding: 40px;
    border-radius: 100px;
    border: 1px solid #393937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 150px;
}


.team-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.team-member {
    width: 30%;
    text-align: center;
    margin: 20px;
}

.team-member img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 1px solid #393937;
    margin-bottom: 10px;
    transition: opacity 0.3s ease-in-out;
}

.team-member img:hover {
    opacity: 0; /* Verhindert abruptes Umschalten */
}

.team-member h3 {
    font-family: 'Modak';;
    font-size: 30px;
    color: #393937;
    margin-bottom: 10px;
}

.team-member p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #393937;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 5px 0;
    }

    .song-box {
        width: 80%;
    }

    .team-container {
        flex-direction: column;
    }

    .team-member {
        width: 80%;
    }

    .about-text {
        margin: 10px;
    }

}

.chart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px 0;
    width: 100%;
}

.chart-container canvas {
    max-width: 100%;
    max-height: 500px; /* Maximale Höhe von 500px */
}

.chart-container h1 {
    font-family: 'Modak', cursive;
    font-size: 40px;
    text-align: center;
    color: #393937;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .chart-container h1 {
        font-size: 28px; /* Kleinere Schrift auf mobilen Geräten */
    }

    .chart-container {
        padding: 10px;
    }
}



/* Styling für die Contact-Seite */
.contact-section {
    padding: 0px 0;
}

.contact-text {
    max-width: 800px;
    margin: 40px auto; /* Nur eine margin-Eigenschaft */
    background-color: #DBCEFF;
    padding: 40px;
    border-radius: 100px;
    border: 1px solid #393937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 150px;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 5px 0;
    }

    .contact-text {
        margin: 10px;
    }
}
